:root {
  --grey: #cacaca;
  --dark-grey: #666666;
  --orange: #FF4E00;
  --bg: #FFFBF5;
  --links: #0099FF;


  --title: 'Merriweather', serif;
  --text: 'Inter', sans-serif;
  --logo-font: 'Praise', cursive;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1 h4 {
  font-family: var(--title);
}

h2 h3 h5 p {
  font-family: var(--text);
}

body {
  background-color: var(--bg);
}