:root {
  --grey: #cacaca;
  --dark-grey: #666666;
  --orange: #FF4E00;
  --bg: #FFFBF5;
  --links: #0099FF;


  --title: 'Merriweather', serif;
  --text: 'Inter', sans-serif;
  --logo-font: 'Praise', cursive;
  --price: 'Poppins', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bg);
  max-width: 1140px;
  margin: auto;
}

h2 {
  font-family: var(--text);
  color: var(--orange);
  font-size: 16px;
  text-align: center;
}

.app {
  position: relative;
}

main {
  margin-top: 7vh;

}