header {
    width: 1140px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
    height: 7vh;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: var(--bg);
}

.logo {
    font-family: var(--logo-font);
    font-size: 40px;
    color: var(--orange);
    cursor: pointer;
}

.nav-links {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    color: #000;
}

.nav-links li {
    font-family: var(--text);
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.nav-links li:hover {
    border-bottom: 2px solid var(--orange);
}


.social-links {
    display: flex;
    align-items: center;
    width: 4vw;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.social-icon {
    font-size: 1vw;
    color: var(--orange);
    cursor: pointer;
}

details {
    display: none;
}



@media screen and (max-width: 1140px) {

    nav {
        width: 100vw;
    }

    .logo {
        margin-left: 5px;
        font-size: 3vw;

    }

    .nav-links {
        width: 50vw;
    }

    .nav-links li {
        font-size: 1.5vw;
    }

    .social-links {
        width: 12vw;
        justify-content: space-evenly;
    }

    .social-icon {
        font-size: 3vw;

    }
}