.carrousel {
    position: relative;
}

.image {
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    margin: 0;
}

.slide {
    opacity: 1;
    background-color: #000;
    border-radius: 20px;
    height: 450px;
}

.content-slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;

}

.text {
    display: flex;
    justify-content: space-around;
    height: 65%;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

h1 {
    font-family: var(--title);
    color: #fff;
    font-size: 52px;
    text-align: center;

}

.cssanimation,
.cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span {
    display: inline-block
}

.leRotateYZoomIn span {
    animation-name: leRotateYZoomIn
}

@keyframes leRotateYZoomIn {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0
    }

    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg)
    }
}




p {
    font-family: var(--text);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 2;
}

.button-slide {
    margin: auto;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    height: 35%;
    align-items: center;
}

.btn-1 {
    width: 200px;
    height: 62px;
    border: none;
    background-color: var(--orange);
    border-radius: 20px;
    color: #fff;
    font-family: var(--text);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-1:hover {
    box-shadow: 0 5px #FF4E0082;
    transform: translateY(-5px);
}


.btn-2 {
    width: 200px;
    height: 62px;
    border: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: var(--text);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-2:hover {
    box-shadow: 0 5px #ffffff65;
    transform: translateY(-5px);
}